* {
  --rich-black: #031926ff;
  --teal: #468189ff;
  --cambridge-blue: #77aca2ff;
  --ash-gray: #9dbebbff;
  --parchment: #f4e9cdff;
  font-family: "Sono", serif;
}

body {
  background-color: var(--rich-black);
  color: var(--ash-gray);
  margin: 0;
  padding: 0;
}

#welcomePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3vh;
}

#welcome {
  font-size: 300%;
  text-align: center;
  margin-bottom: 5vh;
}

#selectQuestions {
  font-size: 125%;
}

#btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 35%;
  height: 30%;
  gap: 3vw;
}

.questionButton {
  background-color: var(--teal);
  color: var(--parchment);
  font-size: 150%;
  width: 45%;
  height: 40%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 2vh;
  cursor: pointer;
}
