* {
  --rich-black: #031926ff;
  --teal: #468189ff;
  --cambridge-blue: #77aca2ff;
  --ash-gray: #9dbebbff;
  --parchment: #f4e9cdff;
  font-family: "Sono", serif;
}

body {
  background-color: var(--rich-black);
  color: var(--ash-gray);
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  color: var(--parchment);
}

#welcomePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3vh;
}

#welcome {
  font-size: 300%;
  text-align: center;
  margin-bottom: 5vh;
}

.selectQuestions {
  font-size: 125%;
}

#startQuizForm {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 35%;
  height: 40%;
  column-gap: 2vw;
  row-gap: 1vh;
}

#categoryBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 20%;
  column-gap: 2vw;
  row-gap: 1vh;
}

#categoryBtnContainer > .questionButton {
  height: 80%;
}

#startBtn {
  width: 30%;
  height: 15%;
  margin: 2vh;
  padding: 0;
  background-color: var(--teal);
  color: var(--parchment);
  font-size: 175%;
  border: none;
  outline: none;
  border-radius: 2vh;
  cursor: pointer;
}

.questionButton {
  background-color: var(--teal);
  color: var(--parchment);
  font-size: 150%;
  width: 45%;
  height: 40%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 2vh;
  cursor: pointer;
}

#quizContainer {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#quiz {
  width: 50%;
  height: 65%;
  background-color: var(--cambridge-blue);
  color: var(--rich-black);
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.quizBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 50%;
}

.quizBtn {
  width: 80%;
  height: 100%;
  margin: 1%;
  border-radius: 1vh;
  border: none;
  background-color: var(--teal);
}

.submitBtn {
  width: 30%;
  height: 10%;
  border-radius: 1vh;
  border: none;
  background-color: var(--teal);
  margin-top: 3vh;
}

#question {
  margin: 2vh;
}

.accountForms {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3vh;
}

.accountForms > p {
  margin: 0;
  font-size: 5vh;
}

.accountInputs {
  width: 25%;
  height: 5%;
  background-color: var(--parchment);
  border: none;
  outline: none;
  border-radius: 1vh;
  padding: 1vh 3vh;
  color: var(--teal);
}

.accountInputs::placeholder {
  color: var(--teal);
}

.accountBtns {
  width: 15%;
  height: 7.5%;
  background-color: var(--teal);
  border: none;
  outline: none;
  border-radius: 1vh;
  font-size: 3vh;
}

#loginAndRegister {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1vh;
}

.mainPageAccountBtns {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--ash-gray);
  font-size: 120%;
}
